@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');


a.button
{
	padding: +.5%;
	background-color: #550055;
	border-radius: 15%;
	text-decoration: none;
	color: #ffffff;
}
a.button:hover
{
	background-color: #ff00ff;
	text-decoration: underline;
	color: #000000;
}





body
{
	text-align: center;
	/*width: 99%;
	height: 99%;*/

	background-image: url('flowers_border.png');
	background-size: auto;
	background-color: #d4c19f;
	color: #000000;
	font-family: 'Edu TAS Beginner';
}
